<!DOCTYPE html>
<html>

<head>
    <title>Tetris Access Logs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
</head>
<style>
    .small-shadow {
        box-shadow: 0 5px 10px rgba(0, 0, 0, .08);
    }
</style>

<body style="background-color:  #f0efed;">
    <!-- Fill page -->
    <div uk-height-viewport=" ">
        <!-- Make navbar sticky -->
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <!-- Navbar container & style like a card -->
            <nav class="uk-navbar-container uk-card-default">
                <!-- Contain navbar contents to 'small' container -->
                <div class="uk-container uk-container-small">
                    <!-- Use UiKit navbar component -->
                    <div uk-navbar class="uk-navbar">
                        <!-- Push content to left -->
                        <div class="uk-navbar-left">
                            <div class="uk-navbar-item">
                                <h1 class="uk-h2 uk-margin-remove">275 Tetris</h1>
                            </div>
                        </div>
                        <!-- Push content to right -->
                        <div class="uk-navbar-right">
                            <!-- Apply navbar nav styling -->
                            <ul class="uk-navbar-nav">
                                <li>
                                    <a href="/tetris/games/static">Games</a>
                                </li>
                                <li class="uk-active">
                                    <a href="#">Logs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Contain contents to 'small' container -->
        <div class="uk-container uk-container-small uk-margin-top">
            <!-- Display in vertical column flexbox -->
            <div class="uk-flex uk-flex-column uk-flex-middle">
                <!-- Iterate over logs receieved -->
                {% if logs %}
                <table class="uk-table uk-table-hover">
                    <thead>
                        <!-- Make table head appear as a card -->
                        <tr class="uk-width-1-1 uk-margin-top uk-card uk-card-default uk-animation-fade">
							<th>Date</th>
                            <th>ID</th>
                            <th>Method</th>
                            <th>IP</th>
                            <th>[User]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Iterate over log fields to display -->
                        {% for log in logs %}
                        <!-- Make each table row appear as a card -->
                        <tr class="uk-width-1-1 uk-margin-top uk-card uk-card-default small-shadow uk-animation-fade">
                            <td>{{ log['date']|dt }}</td>
                            <td>{{ log['id'] }}</td>
                            <td>{{ log['method'] }}</td>
                            <td>{{ log['ipaddress'] }}</td>
                            <td>{{ log['user'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>Oups no logs</div>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>
